@model IEnumerable<PCPlumbing.Models.Images>

@{
    ViewBag.Title = "Remove Images";
}



<div class="form-horizontal">
    <div class="row">
        <div class="col-md-10">
            <h3>Select Image To Remove</h3>
            <a href="../Images/Create" class="btn btn-primary">Add a New Image</a>
        </div>
        <div class="col-md-2">
            <p>@Html.ActionLink("Log Out", "Logout", "Admins")</p>
        </div>
    </div>
    <hr />

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="row" id="remove">
                    <img src="@item.Image" />
                </div>
                <div class="row">
                    @Html.DisplayFor(modelItem => item.ImageName)
                </div>
                <div class="row">
                    @Html.ActionLink("Delete", "Delete", "Images", new { id = item.ID }, null)
                </div>
                <hr />
            </div>
        }
    </div>
</div>

<hr />
