@model IEnumerable<PCPlumbing.Models.Images>

@{
    ViewBag.Title = "Remove Images";
}

<div class="form-horizontal">
    <h4>Remove Existing Images</h4>
    @Html.ActionLink("Add a new image", "Create", "Images", new { style = "float: right" })
    <hr />

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="row" id="remove">
                    <img src="@item.Image" />
                </div>
                <div class="row">
                    @Html.DisplayFor(modelItem => item.ImageName)
                </div>
                <div class="row">
                    @Html.ActionLink("Delete", "Delete", "Images", new { id = item.ID }, null)
                </div>
                <hr />
            </div>
        }
    </div>
</div>

<hr />
