@model IEnumerable<PCPlumbing.Models.Images>

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div class="form-horizontal">
    <h4>Remove Existing Images</h4>
    <hr />
    
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-4">
                @Html.DisplayFor(modelItem => item.ImageName)
            </div>
        </div>
    }


</div>
