
@{
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
    ViewBag.Title = "About Us";
}

@section ContactDesc{
    For a highly reputable plumbing and heating company, call PC Plumbing in Somerset on
}
@section contactDescSml{
    For a highly reputable plumbing and heating company, call PC Plumbing in Somerset on
}
@section pageTitle{
    About Us
}
@section pageIcon {
    <img src="../Content/Images/Bathroom.png" />
}

@section pageHeading1{
    A well-known plumbing and heating company
}

@section section1{
    <p>
        If you're looking for a reliable plumber and heating engineer in Chard, Taunton and Yeovil, you've come to the right place.  At PC
        Plumbing, customer satisfaction is paramount.  When it comes to servicing, repairs and installations for your boiler, we offer
        professional and impartial advice.
    </p>
    <p>
        We ensure a high quality service, but at the same time keep our costs down and affordable.  Our team strive to ensure each customer is
        happy with the project in-hand.
    </p>
    <p>For more information, please contact us today.</p>
}