
@{
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
    ViewBag.Title = "Advice";
}

@section ContactDesc{
    For more information regarding our useful advice, call PC Plumbing in Somerset on
}
@section pageTitle{
    Advice
}
@section pageIcon {
    <img src="../Content/Images/Bathroom.png" />
}

@section pageHeading1{
    Useful advice
}

@section section1{
    <p>
        We have various hints and tips on how to get the most out of the plumbing and heating in your home, from
        tips on your new bathroom installation to adivce on how to service your boiler. 
    </p>
}