
@{
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
    ViewBag.Title = "Bathrooms";
}

@section ContactDesc{
    Fed up of your old bathroom?  Call PC Plumbing on
}
@section pageTitle{
    Bathrooms
}
@section pageIcon {
    <img src="../Content/Images/Bathroom.png" />
}

@section pageHeading1{
    Exquisite bathrooms in Somerset
}

@section section1{
    <p>
        Whether you're looking for a traditional bathroom suite or fixtures and fittings with a contemporary twist, we will work with you from start
        to finish to ensure you get the bathroom you've been looking for.
    </p>
    <p>
        Once you've chosen your new bathroom, you need a reliable company to install all components to suit your needs.  That's where we can help.
        We strive to ensure your project is completed on time and with minimal disruption caused to your daily life.
    </p>
}
@section pageHeading2{
    Our bathroom fitting services include:
}
@section section2{
    <ul>
        <li>Tiling</li>
        <li>Plumbing</li>
        <li>Light building work</li>
        <li>Electrical installations</li>
        <li>Plastering</li>
        <li>Decorating</li>
    </ul>
}