
@{
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
    ViewBag.Title = "Boilers";
}

@section ContactDesc{
    Is your boiler due a service?  Call PC Plumbing on
}
@section pageTitle{
    Boilers
}
@section pageIcon {
    <img src="../Content/Images/Boiler.png" />
}

@section pageHeading1{
    The boiler specialists in Somerset
}

@section section1{
    <p>
        We can install, repair and service all types of domestic boilers, from Worcester and Vaillant condensing combi boilers to Grant external oil boilers.
    </p>
    <p>
        So whether your boiler has given up or your water isn't heating as thoroughly as it used to, please feel free to contact us today for a <b>free</b> quotation.
    </p>
}