
@{
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
    ViewBag.Title = "Central Heating";
}

@section ContactDesc{
    For central heating repairs in Somerset, call PC Plumbing on
}
@section contactDescSml{
    For central heating repairs in Somerset, call PC Plumbing on
}
@section pageTitle{
    Central Heating
}
@section pageIcon {
    <img src="../Content/Images/Symbols.png" />
}

@section pageHeading1{
    The central heating experts
}

@section section1{
    <p>
        Has a radiator in your home stopped working?  Perhaps you need a central heating system installed in your new build?
    </p>
    <p>
        With various types of central heating systems avaible, it is vital that you get the correct system for your home.
        We are on hand to help you choose the correct central heating and install all parts and components to the highest of standards.
    </p>
}
@section pageHeading2{
    Our central heating upgrades include:
}
@section section2{
    <ul>
        <li>Pipe work</li>
        <li>Wireless controls</li>
        <li>Thermostatic radiator valves</li>
        <li>Clocks</li>
        <li>Radiators covers</li>
        <li>Pumps</li>
        <li>Radiators</li>
        <li>Underfloor heating</li>
    </ul>
}