@{
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
    ViewBag.Title = "Contact Us";
}

@section ContactDesc{
    <h3><b>Contact Us At PC Plumbing</b></h3>
    <p>For a <b>free</b> quote or for more information regarding our quality plumbing and heating services, please contact us using the details provided.</p>
}
@section contactDescSml{
    <h3><b>Contact Us At PC Plumbing</b></h3>
    <p>For a <b>free</b> quote or for more information regarding our quality plumbing and heating services, please contact us using the details provided.</p>
}
@section contactExtra{
    <br />
    PC Plumbing, Briadene, Forton Road, Chard, Somerset, TA20 2HS
}
@section contactExtraSml{
    <br />
    PC Plumbing, Briadene, Forton Road, Chard, Somerset, TA20 2HS
}


@section pageTitle{
    Contact Us
}
@section pageIcon {
    <img src="../Content/Images/Contact.png" />
}

@section pageHeading1{
    <h4>For a <b>free</b> quote or more information about us, feel free to give us a ring or fill in the form below:</h4>
}
@section section1{
    

    <div class="contactform">
        <form>
        
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" required />
        </div>
        <div class="form-group">
            <label for="email">Email Address:</label>
            <input type="email" class="form-control" id="email" name="email" required />
        </div>
        <div class="form-group">
            <label for="contactnum">Contact Number:</label>
            <input type="text" class="form-control" id="contactnum" name="contact" required />
        </div>
        <div class="form-group">
            <label for="message">Your Message:</label>
            <textarea rows="4" class="form-control" id="message" name="message" required></textarea>
        </div>
        @using reCAPTCHA.MVC;
        @using (Html.BeginForm("Contact", "Home", FormMethod.Get, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.Recaptcha()
            @Html.ValidationMessage("ReCaptcha")
            <button type="submit" class="btn btn-default" id="formSubmit">Submit</button>
        }
        </form>
    </div>
    }