@{
    ViewBag.Title = "Home";
}

<div class="row" id="contactSml">
    <h4><b>01460 68752</b></h4>
    <h4><b>07968 210 302</b></h4>
    <p>paul.pcplumbing@me.com</p>
</div>

<div class="row" id="welcomeMessage" align="center">
    <h2>For a well-known plumbing and heating company based in Chard, look no further than PC Plumbing.</h2>
    <h3>We specialise in the repair, maintenance and installation of all oil boilers.</h3>
    <h4><b><i>PC Plumbing - We do it the right way</i></b></h4>
    <h3>We have 20 years of experience in all aspects of plumbing and heating for domestic customers.  Feel free to contact us today for your <b>free</b> quotation.</h3>
</div>
<div class="row" id="break"></div>
<div class="row" id="int-menu">
    <div class="col-md-2" id="plumb"><a href="/Home/Plumbing">
        <img src="../Content/Images/PlumbingAct.png" /></a>
    </div>
    <div class="col-md-2" id="centH"><a href="/Home/CentralHeating"><img src="../Content/Images/Symbols.png" /></a></div>
    <div class="col-md-2" id="boiler"><a href="/Home/Boilers"><img src="../Content/Images/Boiler.png" /></a></div>
    <div class="col-md-2" id="bath"><a href="/Home/Bathrooms"><img src="../Content/Images/Bathroom.png" /></a></div>
    <div class="col-md-2" id="renew"><a href="/Home/Renewable"><img src="../Content/Images/Renewable.png" /></a></div>
    <div class="col-md-2" id="contact"><a href="/Home/Contact"><img src="../Content/Images/Contact.png" /></a></div>
</div>
<div class="row" id="break"></div>
<div class="row" id="menuLabel">
    <div class="col-md-2">Plumbing</div>
    <div class="col-md-2">Central Heating</div>
    <div class="col-md-2">Boilers</div>
    <div class="col-md-2">Bathrooms</div>
    <div class="col-md-2">Renewable Energy</div>
    <div class="col-md-2">Contact Us</div>
</div>
<div class="row" id="break"></div>
<div class="row">
    <div class="col-md-2" id="plumbArr"><div class="arrow-up"></div></div>
    <div class="col-md-2" id="centHArr"><div class="arrow-up"></div></div>
    <div class="col-md-2" id="boilerArr"><div class="arrow-up"></div></div>
    <div class="col-md-2" id="bathArr"><div class="arrow-up"></div></div>
    <div class="col-md-2" id="renewArr"><div class="arrow-up"></div></div>
    <div class="col-md-2" id="contactArr"><div class="arrow-up"></div></div>
</div>
<div class="row" id="smlbreak"></div>
<div class="row">
    <div class="desc">
        <h1>Plumbing</h1>
        <h3>Alongside central heating repairs and installation, we can also take care of all other plumbing jobs around the home.</h3>
    </div>
</div>
<div class="row" id="break"></div>

<div class="row" id="text">
    <div class="col-md-4">
        <h2>Why Choose Us?</h2>
        <ul class="list">
            <li> Over 20 years of experience</li>
            <li> <b>Free</b> quotes and design service</li>
            <li> Competitive rates</li>
            <li> All plumbing and heating work carried out</li>
            <li> OFTEC registered</li>
        </ul>
    </div>
    <div class="col-md-4" id="imgCol">
        <h2>Take A Look At Our Gallery</h2>
        <a href="../Images/Index"><img src="../Content/Images/Photos.png" /></a>

    </div>
    <div class="col-md-4">
        <h2>All About US</h2>
        <p>For a well-known plumbing and heating company based in Chard, look no further than PC Plumbing.  We specialise in the repair, maintenance and installation of all types of boilers.</p>
    </div>
</div>