
@{
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
    ViewBag.Title = "Plumbing";
}

@section ContactDesc{
    Fed up of your old bathroom?  Call PC Plumbing on
    }
@section pageTitle{
    Plumbing
    }
@section pageIcon {
    <img src="../Content/Images/Plumbing.png" />
    }

@section pageHeading1{
    All plumbing work coverd in Chard, Taunton and Yeovil
    }

@section section1{
    <p>
        Alongside central heating repairs and installations, we can also take care of all other plumbing jobs around the home.
        We strive to complete your project on time and with minimal hassle caused.
    </p>
    <p>From boilers and bathroom installations to fixing eaking taps and moving radiators, call us today for a <b>free</b> quote.</p>
    }
@section pageHeading2{
    Our plumbing services include:
    }
@section section2{
<ul>
    <li>Radiator repairs and installations</li>
    <li>Burst piptes</li>
    <li>Dripping taps</li>
    <li>Bathroom installations</li>
</ul>
    }