
@{
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
    ViewBag.Title = "Renewable Energy";
}

@section ContactDesc{
    Thinking of switching to renewable heating?  Call PC Plumbing on
}
@section contactDescSml{
    Thinking of switching to renewable heating?  Call PC Plumbing on
}
@section pageTitle{
    Renewable Energy
}
@section pageIcon {
    <img src="../Content/Images/Renewable.png" />
}

@section pageHeading1{
    Improve your Carbon footprint
}

@section section1{
    <p>
        From air source heat pumps and ground source heat pumps to solar thermal heat panels, you can put your trust in us to help you save money on your energy bills by switching to renewable energy.
    </p>
}
@section pageHeading2{
    What is renewable energy?
}
@section section2{
    <p>
        Renewable energy is energy that is sourced from the elements and natural resources, including rain, wind, sunlight, tides and geothermal heating.
        Solar power is perhaps the most common form of renewable energy in homes throughout the UK.
    </p>
    <p>At PC Plumbing, we specialise in the installation and maintenance of renewable heat pumps.</p>
}
@section pageHeading3{
    Our services include:
}
@section section3{
    <ul>
        <li>Air source heat pumps</li>
        <li>Ground source heat pumps</li>
        <li>Biomass boilers</li>
        <li>Unvented systems</li>
        <li>MCS renewable installations</li>
        <li>Underfloor heating</li>
    </ul>
}