#welcomeMessage h5 {
    color: #2e3192;
}

#welcomeMessage h2{
    font-size: 25px;
}

#int-menu img{
    width: 90%;
}

.desc {
    border: 5px solid #408080;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid white;
    margin: auto;
}

#plumbArr .arrow-up{
    border-bottom: 30px solid #408080;
}

#menuLabel {
    text-align: center;
    color: #2e3192;
    font-weight: bold;
}

#text{
    font-size: 16px;
    text-align: center;
}

#text ul {
    list-style: none;
    text-align: left;
    padding-left: 20px;
    
}
#text ul li:before{
    content: '✓';
}