body {
    padding-top: 50px;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.container {
    max-width: 950px;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100%;
}

.main {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 136px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: #404040;
    border-color: #333333;
}
.menubar {
    background-color: #e6e6e6;
    height: 150px;
    /*height: 200px;*/
    border-bottom: 5px solid #2e3192;
}

.view {
    margin: auto;
}

.menubar img{
    display: block;
    margin: auto;
    height: 130px;
    /*height: 190px;*/
}
.contactDets{
    color: #404040;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    /*height: 200px;*/
    text-align: right;
}

.contactDets h4{
    margin: 5px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

#break {
    height: 20px;
    width: 100%;
}

#smlbreak {
    height: 5px;
}

.left {
    float: left;
    text-align: left;
}
.right {
    float: right;
    text-align: right;
}
#contact {
    font-size: 12px;
    font-weight: bold;
}
#contact i {
    font-size: 12px;
}
#contact ul {
    list-style: none;
}

footer {
    position: relative;
    margin-top: -80px;
    height: 80px;
    clear: both;
    background-color: #efefef;
    font-size: 16px;
    padding-top: 1.5px;
}

.subFooter {
    width: 100%;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #737373;
    color: white;
    font-size: 10px;
}
.subFooter a {
    color: white;
}

#contactInfo {
    text-align: center;
    background-color: #efefef;
}

#socialMedia {
    font-size: 30px;
    text-align: center;
    padding-bottom: 5px;

}
#socialMedia a {
    color: #333;
}

#footerAddress {
    font-size: 11px;
    padding-top: 10px;
}

#imgCol img{
    display: block;
    width: 90%;
}

.contactform {
    width: 300px;
    height: auto;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}
#contactSml{
    display: none;
}

/*sm*/
@media (min-width: 768px){
    .view{
        max-width: 750px;
    }
}

@media (max-width: 992px) {
    .contactDets {
        display: none;
    }

    #contactSml {
        display: block;
        padding-left: 20px;
    }

    body {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .menubar{
        margin-top: 50px;
    }
}

/*md*/
@media (min-width: 992px){
    .view {
        max-width: 970px;
    }        
    #slideImage{
    padding-left: 0px;
}
}

/*lrg*/
@media (min-width: 1200px){
    .view {
        max-width: 1170px;
    }
}